body {
  font-family: sans-serif;
  background-color: #f2f2f2;
  text-align: center;
}

.nome {
  font-size: 0.8rem;
  color: #333;
  margin-top: 5px;
  display: block;
  text-transform: uppercase;
  font-weight: bold;
}

.memoria{
  max-width: 500px;
  margin: 0 auto;
}

.grid {
  display: grid;
    grid-template-columns: repeat(4, 100px);
    gap: 12px;
    justify-content: center;
    margin-top: 20px;
}

.card {
  width: 80px;
  height: 100px;
  perspective: 1000px;
}

.card-inner {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.5s;
}

.card-back,
.card-front {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  background: white;
  backface-visibility: hidden
}

.card-front {
  background: #4a90e2;
  color: white;
}

.memoria {
  max-width: 500px;
  margin: 0 auto;
}

.card.virada .card-inner {
  transform: rotateY(180deg);
}

.card-back {
  transform: rotateY(180deg);
  background: white;
  color: #333;
}

.botao {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}